@import "~/src/styles/variable.scss";


.goods_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
    .goods_block {
        display: grid;
        max-width: 270px;
        grid-template-areas:
            "i i"
            "h h"
            "d d"
            "p c";
        justify-items: center;
        grid-row-gap: 20px;
        // border: silver solid 1px;
        border-radius: 30px;
        box-sizing: border-box;
        padding: 15px 0px;
        &:hover {
            // background-color: #f0f0f0;
            // transition: all 300ms ease-in-out;
        }
        h2 {
            grid-area: h;
            font-family: $notoSans;
            font-size: 20px;
            font-weight: 800;
            text-transform: uppercase;
            text-align: center;
            // white-space:nowrap;

        }
        img {
            width:250px;
            height: 250px;
            object-fit: cover;
            border-radius: 30px;
            grid-area: i;
            max-width: 250px;
            // height: auto;
            text-align: center;
        }
        .descript {
            grid-area: d;
            text-align: justify;
            font-family: $montserrat;
            color: #979797;
            line-height: 20px;
    
            // max-width: fit-content;
            h3 {
                display: inline;
                color: black;
                font-family: $notoSans;
                text-transform: uppercase;
                font-weight: 800;
                text-align: center;
            }
        }
        .price {
            grid-area: p;
            font-family: $notoSans;
            font-size: 18px;
            font-weight: 800;
            line-height: 18px;
            display: grid;
            justify-content: center;
            align-content: center;
            white-space:nowrap;

        }
        .to_cart {
            grid-area: c;
            // height: 54px;
            align-self: self-end;
        }

        // @media screen and (max-width:600px) {
        //     max-width: 450px;
        //     img {
        //         width: calc(100vw - 30px);
        //         height: calc(100vw - 30px);
        //         max-width: 450px;
        //         max-height: 450px;
        //     }
        // }

        @media screen and (max-width:600px) {
            width: 100%;
            grid-template-areas:
            "i  h h"
            "i  d d"
            "i  p c"
            ;
            max-width: initial;
            justify-items: center;
    align-items: center;
    grid-template-columns: 120px;
            grid-auto-columns: 1fr ;
            grid-gap:10px;
            .descript {
                line-height: 15px;
                font-size: 14px ;
            }
            h2 {
            font-size: 16px;

            }
            img {
                width: 120px;
                height: 120px;
            }
            .to_cart {
                padding: 12px;
                font-size: 14px;
            }
        }

    }
}


